#dec-to-bin
  .container
    h1 Decimal to binary
    .input-container
      div
        input#dec
        sub 10
      div
        span.result
        sub 2
      .warn
      
#bin-to-dec
  .container
    h1 Binary to decimal
    .input-container
      div
        input#bin
        sub 2
      div
        span.result
        sub 10
      .warn